</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Create Account Page</title>
    <link rel="stylesheet" type="text/css" href="cAStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffd3683b0c.js" crossorigin="anonymous"></script>
  </head>
   

  <!-- Main content area -->
  <body>
    <div class="createAccount">
      <div class = "cAHeader">
        <h2>Create Account</h2>
      </div>
      
                
        <div class = "firstAndLastName">
          <div class ="fName">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="John" value="">
          </div>
                    
          <div class = "lName">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="Doe" value="">
          </div>
        </div>
        <div class = "otherAccountInfo">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="johndoe@example.com" value="">
          </div>
          <div class="form-group">
            <label for="role">Job Role:</label>
            <input type="text" id="role" name="role" placeholder="Product Manager" value="">
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="johndoe" value="">
          </div>
                
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password" value="">
          </div>
        </div>  
        <button onclick=createInfo() id="submit">Sign Up</button>

        <div class ="loginLink">
            <a href="login.html" required style ="color: lightslategray;">Login</a>
        </div>
        

                
      

    </div>

    <script>
      function createInfo() {
          const userIn = document.getElementById("username").value;
          const passIn = document.getElementById("password").value;
          const fnameIn = document.getElementById("firstName").value;
          const lnameIn = document.getElementById("lastName").value;
          const emailIn = document.getElementById("email").value;
          const roleIn = document.getElementById("role").value;
          

          const lambdaUrl = 'https://twvazdor6gp5x4nuofhderginy0ytwbf.lambda-url.us-east-1.on.aws/';
          const requestBody = {
              user: userIn,
              password: passIn,
              first_name: fnameIn,
              last_name: lnameIn,
              email: emailIn,
              role: roleIn
          };

          fetch(lambdaUrl, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(requestBody)
          })
          .then(response => {
              if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
          })
          .then(data => {
              // Handle the response from the Lambda function.
              console.log('Lambda Response:', data);
              window.location.href = "login.html"
          })
          .catch(error => {
              // Handle errors.
              console.error('Lambda Error:', error);
              alert("Error creating account please try again")
          });
      }
  </script>
    
  </body>

</html>