<!DOCTYPE html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="loginStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "pageLogin">
	    <h1>Honeywell UTM Services for UAS</h1>
	    <div class="login-container">
			<label for="username" required style="color: white; font-weight: bold;">Username:</label><br>
			<input type="text" id="username" name="username" ><br>
			<label for="password" required style="color: white; font-weight: bold;">Password:</label><br>
			<input type="password" id="password" name="password"><br>
			<!-- <a href="forgetPW.html" required style ="color: lightslategray;">Forget Password?</a> -->
			<button onclick=loginAccount() type="submit">Login</button>
			<div class ="createAccountLink">
				<a href="CreateAccount.html" required style ="color: lightslategray;">Sign Up</a>
            </div>
    </div>

	<script>
		function loginAccount() {
			const username = document.getElementById('username').value;
			const password = document.getElementById('password').value; 
			
  
			const lambdaUrl = 'https://7moom33eemsdtvhzinznxo2mcu0wueqr.lambda-url.us-east-1.on.aws/';
			const requestBody = {
				user: username,
				password: password
			};
  
			fetch(lambdaUrl, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(requestBody)
			})
			.then(response => {
				if (!response.ok) {
					throw new Error(`HTTP error! Status: ${response.status}`);
				}
				return response.json();
			})
			.then(data => {
				// Handle the response from the Lambda function.
				console.log('Lambda Response:', data);
				window.location.href = 'capstone.html'
			})
			.catch(error => {
				// Handle errors.
				console.error('Lambda Error:', error);
				alert("User Not Found! Please check your login information")
			});
		}
	</script>
</body>
</html>