<!--Front end does not handle duplicate usernames. Back end must implement that. Back end
must also handle passwords and allow user to save changes if information requirements are satisfied.
No empty blanks allowed.-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/ffd3683b0c.js" crossorigin="anonymous"></script>
</head>
  <body>
    <!-- Navigation bar -->
    <nav>
        <div class="nav-header">
          <h3 style="margin: 2rem 0 2rem 3rem;">Honeywell</h3>
          <h2 class="nav-header">
            <i class="fa-solid fa-layer-group"></i><a href="capstone.html"><span style="padding-left: .7rem; font-size: 1.125rem;">Summary</span></a></li>
          </h2>
        </div>
        <ul class="nav-list">
          <li><i class="fa-solid fa-paper-plane"></i><a href="flights.html"><span style="padding-left: .7rem;">Flights</span></a></li>
          <li><i class="fa-solid fa-plane"></i><a href="aircraft.html"><span style="padding-left: .7rem;">Aircraft</span></a></li>
          <li><i class="fa-solid fa-user"></i><a href="profile.html"><span style="padding-left: .7rem;">Profile</span></a></li>
          <li><i class="fa-solid fa-gear"></i><a href="settings.html"><span style="padding-left: .7rem;">Settings</span></a></li>
        </ul>
        <ul class="nav-list bottom-list">
          <li style="margin-top: 8rem;"><a href="#">Help</a></li>
          <li><a href="ContactUs.html">Contact Us</a></li>
          <li><i class="fa-solid fa-arrow-right-from-bracket" style="color: #888;"></i><a href="login.html"><span style="padding-left: .7rem;">Log out</span></a></li>
        </ul>
      </nav>
  </body>

    

  <!-- Main content area -->
  <main>    
    <div class="user-nav">
      <a href="#" class="notification-icon"><i class="fa-solid fa-bell"></i></a>
      <a href="#" class="profile-icon"><i class="fa-solid fa-user"></i></a>
      <span class="user-text">User</span>
    </div>
  </main>
  <body>
    <div class="Profile">
      <div class = "profileHeader">
        <h2>Account Information</h2>
      </div>
      <form id="userForm">
                
        <div class = "firstAndLastName">
          <div class ="fName">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="John" value="">
          </div>
                    
          <div class = "lName">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="Doe" value="">
          </div>
        </div>
        <div class = "otherAccountInfo">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="johndoe@example.com" value="">
          </div>
          <div class="form-group">
            <label for="role">Job Role:</label>
            <input type="text" id="role" name="role" placeholder="Product Manager" value="">
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="johndoe" value="">
          </div>
                
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password" value="">
          </div>
            
        <button id="submit" onclick= "updateInfo()" type="button" >Save Changes</button>
        <div id="savingMyChanges"></div>

                
      </form>

    </div>

    <script>
      function updateInfo() {
        
        const lambdaUrl1 = 'https://j23ikc56jl4q22ofgxulwfjiny0eyaxi.lambda-url.us-east-1.on.aws/';
        const requestBody = {
              user: document.getElementById('username').value,
              password: document.getElementById('password').value, 
              first_name: document.getElementById("firstName").value,
              last_name: document.getElementById('lastName').value,
              email: document.getElementById('email').value,
              role: document.getElementById('role').value
          };

          fetch(lambdaUrl1, {
              method: 'POST',
				      headers: {
					      'Content-Type': 'application/json'
				      },
				      body: JSON.stringify(requestBody)
            })
            .then(response => {
				if (!response.ok) {
					throw new Error(`HTTP error! Status: ${response.status}`);
				}
				return response.json();
			})
			.then(data => {
				//const logInData = JSON.parse(data);
        //document.getElementById("firstName").textContent = userFirstName;
        // console.log('First Update Name Error: ', data.first_name);
        document.getElementById("firstName").value = data.first_name;
        // console.log('First Update2 Name Error: ', data.first_name);
        // console.log('First Update2.2 Name Error: ', firstName);
        document.getElementById('lastName').value = data.last_name;
        document.getElementById('email').value = data.email;
        document.getElementById('role').value = data.role;
        alert("Account Updated!")
			})
			.catch(error => {
				// Handle errors.
				console.error('Lambda Error: ', error);
				alert("Error finding user data!")
			});

      }        


      let msgDisplayed = false;

      function userInfoDisplayed() {
        
        const lambdaUrl1 = 'https://iy26k5d2dpn4ihfs5oeaguy3im0bjqmg.lambda-url.us-east-1.on.aws/';
          // const requestBody = {
          //     user: username,
          //     password: password,
          //     first_name: firstName,
          //     last_name: lastName,
          //     email: email,
          //     role: role
          // };
          const logInData = localStorage.getItem('loggedInSession');
          const requestBody = {
              Key: logInData
          };

          fetch(lambdaUrl1, {
              method: 'POST',
				      headers: {
					      'Content-Type': 'application/json'
				      },
				      body: JSON.stringify(requestBody)
            })
            .then(response => {
				if (!response.ok) {
					throw new Error(`HTTP error! Status: ${response.status}`);
				}
				return response.json();
			})
			.then(data => {
				//const logInData = JSON.parse(data);
        console.log('First Name Error: ', data.first_name);
        //document.getElementById("firstName").textContent = userFirstName;
        document.getElementById("firstName").value = data.first_name;
        document.getElementById('lastName').value = data.last_name;
        document.getElementById('email').value = data.email;
        document.getElementById('role').value = data.role;
				
			
			})
			.catch(error => {
				// Handle errors.
				console.error('Lambda Error: ', error);
				alert("Error finding user data!")
			});

      }

      
      window.onload = userInfoDisplayed();

      const saveButton = document.getElementById('submit');
      saveButton.addEventListener('click', updateInfo);

      //updateInfo(new Event('dummy'));

      
    </script>   
    
  </body>

</html>